{% extends "base.html" %}

<!-- simple blog post template used for posts being authored here before migration to blog -->

{% block hero %}
<aside class="md-banner">
 {% if page.meta.date %}
    {% set myDate = page.meta.date %}
    {% set year = "{}".format(myDate).split("-")[0] | int %}
    {% if year < 2025 %} 
  <div class="md-banner__inner md-grid md-typeset">
    <p><strong><span style="color:yellow">⚠</span></strong> old Wordpress post (circa {{ year }})
      may have broken links, embeds, and <a href="/blog2/about.html">other limitations</a></p>
  </div>
      {% endif %}
  {% endif %}
  {% if page.meta.coverImage %}
  <!-- figure class="md-cover-image" style="margin: 0px; background-image: url('images/{{ page.meta.coverImage }}');" -->
    <img class="memex-image" src="images/{{ page.meta.coverImage }}" alt="{{ page.title }}" width="100%" height="auto">
  <!-- /figure -->
  {% endif %}

</aside>
{% endblock %}

{% block container %}

<div class="md-content" data-md-component="content">

  <article class="md-content__inner md-typeset">
    {% block content %}
    {% include "partials/post-content.html" %}
    {% endblock %}
  </article>

</div>

{% endblock %}
