{% extends "base.html" %}

{% block extrahead %}
<script data-goatcounter="https://djones.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<meta http-equiv="Content-Security-Policy"
  content="default-src 'self'; style-src 'self' fonts.googleapis.com; font-src fonts.gstatic.com ; img-src 'self' mirrors.creativecommons.org data: w3.org/svg/2000;; script-src  'self' https://gc.zgo.at https://cdn.jsdelivr.net https://unpkg.com 'sha256-fIdRfgR2/VyFYkfbR8H4Cxej768gNv5mPC22BSGJSd4=' 'wasm-unsafe-eval'; connect-src 'self' https://djones.goatcounter.com/count; ">


<script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js"></script>



<script type="text/javascript" integrity="sha256-fIdRfgR2/VyFYkfbR8H4Cxej768gNv5mPC22BSGJSd4=" crossorigin="anonymous">
  document.addEventListener('DOMContentLoaded', function () {
    new PagefindUI({
      element: "#search",
      pageSize: 5,
      showSubResults: true,
      showImages: false,
    })
    MicroModal.init()

    document.querySelector('#nav-link-search').addEventListener('click', function (ev) {
      ev.preventDefault()
      MicroModal.show('modal-1', {
        onClose: function () {
          document.querySelector('#nav-link-search').blur();
        },
        disableFocus: true
      })
      document.querySelector('.pagefind-ui__search-input').focus()
    });

  }, false);
</script>
{% endblock %}


{% block libs %}
{{ super() }}

{% endblock %}

{% block styles %}
{{ super() }}


{% endblock %}

{% block announce %}
{% if config.announcement %}
<p>{{ config.announcement }} </p>
{% endif %}
{% endblock %}


{% block container %}
<div class="md-content" data-md-component="content" data-pagefind-body>
  <article class="md-content__inner md-typeset">
    {% block content %}
    {% include "partials/content.html" %}
    {% endblock %}
  </article>
</div>
{% endblock %}