
{% extends "base.html" %}

{% block extrahead %}
<script data-goatcounter="https://djones.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<meta http-equiv="Content-Security-Policy"
  content="default-src 'self'; style-src 'self' fonts.googleapis.com; font-src fonts.gstatic.com ; img-src 'self' mirrors.creativecommons.org https://djon.es data: w3.org/svg/2000;; script-src  'self' https://gc.zgo.at https://cdn.jsdelivr.net https://unpkg.com 'sha256-j7My9w9mER+M7RUs0QhmkO4OLN0hwgS0tGvN5aoNjiY=' 'wasm-unsafe-eval'; connect-src 'self' https://djones.goatcounter.com/count https://api.github.com; ">

<script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js"></script>

<script type="text/javascript" integrity="sha256-j7My9w9mER+M7RUs0QhmkO4OLN0hwgS0tGvN5aoNjiY=" crossorigin="anonymous">
  document.addEventListener('DOMContentLoaded', function () {
    new PagefindUI({
      element: "#search",
      pageSize: 5,
      showSubResults: true,
      showImages: false,
    })
    MicroModal.init()
    const lightbox = GLightbox({ "touchNavigation": true, "loop": false, "zoomable": true, "draggable": true, "openEffect": "zoom", "closeEffect": "zoom", "slideEffect": "slide" });
    document$.subscribe(() => { lightbox.reload() });

    // add .glightbox class to all images within div.md-content
    const images = document.querySelectorAll('.md-content img');
    images.forEach((img) => {
      if (!img.classList.contains('glightbox')) {
        img.classList.add('glightbox');
      }
    });

    document.querySelector('#nav-link-search').addEventListener('click', function (ev) {
      ev.preventDefault()
      MicroModal.show('modal-1', {
        onClose: function () {
          document.querySelector('#nav-link-search').blur();
        },
        disableFocus: true
      })
      document.querySelector('.pagefind-ui__search-input').focus()
    });

  }, false);
</script>

{% endblock %}


{% block libs %}
    {{ super() }}

<!--    <script type="text/javascript">
        let url = window.location.href;
        var newUrl = url.replace(/.*memex\//, "https://djon.es/memex/");
        // create meta tag
        let meta = document.createElement('meta');
        meta.httpEquiv = "refresh";
        meta.content = "0;url=" + newUrl;
        document.head.appendChild(meta);
    </script> -->

   <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>MathJax = {tex:    
        {
            inlineMath: [["$", "$"], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
     }</script>
{% endblock %}

{% block styles %}
    {{ super() }}


{% endblock %}

{% block announce %}
{% if config.announcement %}
  <p>{{ config.announcement }} </p> 
{% endif %}
{% endblock %}


{% block container %}
     <div class="md-content" data-md-component="content">
              <article class="md-content__inner md-typeset">
                {% block content %}
                  {% include "partials/content.html" %}
                {% endblock %}
              </article>
            </div>
{% endblock %}




