{% include "partials/tags.html" %}
{% include "partials/actions.html" %}
{% if "\x3ch1" not in page.content %}
  <h1>{{ page.meta.title | d(config.site_name, true)}}</h1>
{% endif %}
{% if page.meta.backlinks %}
    <details class="foam-backlinks">
      <summary>{{ page.meta.backlinks | length }} related links: </summary>
        <ul>
          {% for backlink in page.meta.backlinks %}
          <li> <a href="{{ backlink.url }}">{{ backlink.title }}</a> </li> 
          {% endfor %}
        </ul>
    </details>
{% endif %}
{{ page.content }}
{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}