{% include "partials/tags.html" %}
{% include "partials/actions.html" %}
{% if "\x3ch1" not in page.content %}
  <h1>{{ page.meta.title | d(config.site_name, true)}}</h1>
{% endif %}
{% if page.meta.backlinks %}
    <details class="foam-backlinks">
      <summary>
        {{ page.meta.backlinks | length }} related 
        {% if page.meta.backlinks | length == 1 %}link{% else %}links{% endif %}
      </summary>
        <ul>
          {% for backlink in page.meta.backlinks %}
          <li> <a href="{{ backlink.url }}">{{ backlink.title }}</a> </li> 
          {% endfor %}
        </ul>
    </details>
{% endif %}
{{ page.content }}

<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-2-title">
			<header class="modal__header">
				<h2 class="modal__title" id="modal-2-title">
					Search
				</h2>
			</header>
			<main class="modal__content" id="modal-1-content">
				<div id="search"></div>
			</main>
			<footer class="modal__footer">
					<button class="modal__btn modal__btn-primary" data-micromodal-close aria-label="Close modal">Close</button>
			</footer>
		</div>
	</div>
</div>


{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}