<!-- {% include "partials/tags.html" %}
{% include "partials/actions.html" %}  -->


  <h1>{{ page.meta.title }}</h1>
<style>
</style>
<!-- Add date, categories, and tag information -->
 <div class="pre-amble">
  <p>
    📅  {{ page.meta.date.strftime('%d %B %Y') }}
    {% if page.meta.categories %}
      <strong>in:</strong>
      {% for category in page.meta.categories %}
        <a href="/blog/category/{{ category }}.html">{{ category }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    {% endif %}
<!--    {% if page.meta.tags %}
      <strong>tags:</strong>
      {% for tag in page.meta.tags %}
        <a href="{{ config.base_url }}/{{ tag | urlize }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    {% endif %} -->
  </p>
 </div>
{{ page.content }}
