
{% extends "base.html" %}



{% block hero %}
<aside class="md-banner">
  <div class="md-banner__inner md-grid md-typeset">
   {% set myDate = page.meta.date %}
   {% set year = "{}".format(myDate).split("-")[0] | int %}
   {% if year < 2025 %}
    <p><strong><span style="color:yellow">⚠</span></strong> old Wordpress post ({{ year }}) may have broken links, embeds, etc.</p>
    {% endif %}
  </div>
</aside>
{% endblock %}

{% block container %}

<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">
    {% block content %}
      {% include "partials/post-content.html" %}
    {% endblock %}
  </article>
</div>


{% endblock %}