 html {
  font-size: calc(125% * 1.1); /* <- 1.1 equals + 10% – adjust to taste */
}

[data-md-color-scheme="memexdark"] .md-typeset .grid.cards>ol>li, .md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
    border: none;
    background: #000000;
    background: linear-gradient(138deg,rgba(0, 0, 0, 1) 3%, rgba(23, 23, 23, 1) 88%, rgba(43, 43, 43, 1) 100%);
    /*background-color: var(--md-primary-bg-color--light); */
    border-radius: .5rem;
    display: block;
    margin: 0;
    padding: .8rem;
    transition: border .25s,box-shadow .25s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

[data-md-color-scheme="memexlight"] .md-typeset .grid.cards>ol>li, .md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
    border: none;
    background-color: var(--md-primary-bg-color--light); 
    background: none;
    border-radius: .5rem;
    display: block;
    margin: 0;
    padding: .8rem;
    transition: border .25s,box-shadow .25s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 [data-md-color-scheme="memexdark"] .md-main {
/*  background: #100775;
background: linear-gradient(280deg, rgba(16, 7, 117, 1) 0%, rgba(10, 5, 79, 1) 50%, rgba(4, 10, 46, 1) 100%);
background: #04000a;
background: linear-gradient(138deg,rgba(4, 0, 10, 1) 63%, rgba(1, 1, 23, 1) 76%, rgba(195, 199, 217, 1) 99%);*/
background: #0a0404;
background: linear-gradient(138deg,rgba(10, 4, 4, 1) 20%, rgba(34, 34, 48, 1) 63%, rgba(81, 83, 92, 1) 95%);
 }

[data-md-color-scheme="memexdark"].md-typeset blockquote {
  padding-left: 1rem;
  border-left: 4px solid var(--md-typeset-color);
 }

 .md-header__title {
  font-size: 1.5rem;
 }

 .md-nav__link {
  color: var(--md-typeset-a-color)
 }

 .md-typeset code:not(.focus-visible) {
   text-wrap: auto;
 }

 .md-search-result {
  background-color: var(--md-search-bg-color);
  color: var(--md-search-fg-color); 
 }

 .md-search-result .md-typeset h1, .md-search-result .md-typeset h2{
  color: var(--md-search-fg-color); 
 }

 [data-md-toggle=search]:checked~.md-header .md-search__form {
  background-color: var(--md-search-bg-color);
  color: var(--md-search-fg-color); 
 }

 @media screen and (max-width: 76.2344em) {
.md-nav_list {
      background-color: #000000;
      color: #ffffff;
      list-style-type: none;
      margin-top: 0px;
}
 }

 @media screen and (min-width: 76.2344em) {
 .md-nav_list {
  list-style-type: none;
  display: none;
 }
}

.memex-image {
  max-width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

  /*--md-primary-bg-color: #ffffff; */
 [data-md-color-scheme="memexdark"] {
  --md-primary-bg-color: #c2c2c2; /* used for text of header */
/*  --md-primary-bg-color--light: #002266;  */
  --md-primary-bg-color--light: #51535C;
  --md-primary-fg-color--light: #304753;
  --md-primary-fg-color--dark: #0b0014; 
  --md-primary-fg-color: #000000; 
  --md-accent-fg-color: #8888ff;
  --md-default-fg-color--light: #ffffff;
  --md-default-fg-color--lighter: #ffffff;
  --md-default-fg-color--lightest: #aaaaaa;
  --md-default-bg-color: transparent;
  --md-typeset-color: #ffffff;
  --md-typeset-a-color: #8888ff; 
  --md-admonition-fg-color: #ffffff;
  --md-admonition-bg-color: transparent;
  --md-code-fg-color: #ffffff;
  --md-code-bg-color: transparent;
  --md-post-item-bg-color: #111144;
  --md-typeset-table-color: #aaaaaa;

    --md-code-fg-color: #e6edf3;
   --md-code-hl-name-color: #f0883e;
   --md-code-hl-variable-color: #79c0ff;
   --md-code-hl-operator-color: #ff7b72;
   --md-code-hl-comment-color: #8b949e;
   --md-code-hl-punctuation-color: #aaaaaa;
   --md-code-hl-keyword-color: #ff7b72; 
   --md-code-hl-string-color: #a5d6ff; 

      --md-search-fg-color: #ffffff;
  --md-search-bg-color: #000000;
  /*--md-shadow-z2: 0 0.2rem 0.5rem #0000001a,0 0 0.05rem #00000040;*/
  --md-shadow-z2: 0 0.2rem 0.5rem #0000001a,0 0 0.05rem #00000040;

    --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: #eeeeee;
  --pagefind-ui-background: #152028;
  --pagefind-ui-border: #152028;
  --pagefind-ui-tag: #152028;

 }

    /* Collections */
  [data-md-color-scheme="memexlight"] {
    --md-primary-bg-color: #ffffff;
   --md-primary-bg-color--light: #eeeeee; 
    --md-primary-fg-color--light: #304753;
    --md-primary-fg-color--dark: #121212;
    --md-primary-fg-color: #000000;
    --md-accent-fg-color: #526cfe;
    --md-default-fg-color--light: #000000;
  --md-default-fg-color--lighter: #ffffff;
  --md-default-fg-color--lightest: #aaaaaa;
  --md-default-bg-color: transparent;
  --md-post-item-bg-color: #cccccc;

/*  --md-typeset-color: #ffffff;
  --md-typeset-a-color: #8888ff; 
  --md-admonition-fg-color: #ffffff;
  --md-admonition-bg-color: transparent;*/
  --md-code-fg-color: #000000;
  --md-code-bg-color: #ffffff;
  --md-search-fg-color: #000000;
  --md-search-bg-color: #ffffff;

  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-background: #eeeeee;
  --pagefind-ui-text: #152028;
  --pagefind-ui-border: #152028;
  --pagefind-ui-tag: #152028;
}

blockquote {
  padding-left: 1rem
}
  
  .tabbed-content {
    padding: 0.5rem;
    border-bottom: 1px solid var(--md-default-fg-color--lightest);
    border-left: 1px solid var(--md-default-fg-color--lightest);
    border-right: 1px solid var(--md-default-fg-color--lightest);
  }
  
  .tabbed-block {
    font-size: 0.75rem;
  }
  
  [data-md-color-scheme="memexdark"] figure {
    border-radius: 0.5rem;
    background: #000000;
    background: linear-gradient(138deg,rgba(0, 0, 0, 1) 3%, rgba(23, 23, 23, 1) 88%, rgba(43, 43, 43, 1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  [data-md-color-scheme="memexlight"] figure {
    border-radius: 0.5rem;
    background: none;
    background-color: var(--md-primary-bg-color--light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  figure > p {
    padding: 0rem;
  }

  figcaption {
    font-size: 0.7rem;
    padding: 1rem;
  }
  
  img {
    padding: 0.5rem;
  }
  
  a.md-header__button > img:nth-child(1) {
    padding: 0rem;
  }
  
  sl-animated-image {
    padding: 0.5rem;
  }
  
  .div-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  
  sl-tab-panel {
    --padding: 0em;
  }
  
  .explanation {
    padding: 1rem;
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .card-overview {
    max-width: 200px;
  }

  .card-overview small {
    color: var(--sl-color-neutral-500);
  }

  .card-overview [slot='footer'] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.5rem;
  }



    html.glightbox-open { overflow: initial; height: 100%; }
    .gslide-title { margin-top: 0px; user-select: text; }
    .gslide-desc { color: #666; user-select: text; }
    .gslide-image img { background: white; }
    .gscrollbar-fixer { padding-right: 15px; }
    .gdesc-inner { font-size: 0.75rem; }
    body .gdesc-inner { background: var(--md-default-bg-color);}
    body .gslide-title { color: var(--md-default-fg-color);}
    body .gslide-desc { color: var(--md-default-fg-color);}


  .pre-amble {
    font-size: 0.64rem;
    color: var(--md-admonition-fg-color);
    background-color: var(--md-admonition-bg-color);
    padding-right: 0.6rem; 
    padding-left: 0.6rem;
    margin-top: 1.5625em; 
    margin-bottom: 1.5625em;
    page-break-inside: avoid;
  }

  .modal {
    display: none
  }

  .modal.is-open {
    display: block;
  }

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  /*font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-md-color-scheme="memexdark"] .modal__container {
    background: #000000;
    background: linear-gradient(138deg,rgba(0, 0, 0, 1) 3%, rgba(23, 23, 23, 1) 88%, rgba(43, 43, 43, 1) 100%);
}

[data-md-color-scheme="memexlight"] .modal__container {
   background-color: var(--md-primary-bg-color--light); 
}

.modal__container {
  color: var(--md-primary-bg-color);
  background-color: var(--md-primary-fg-color);
  padding: 1.5rem;
  max-width: 40rem;
  max-height: 80vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

